<div class="container px-5 px-sm-0">
	<div class="row">
    <div class="col-md-3">
    	<%= render 'layouts/user', user: @user %>
    <%= render 'layouts/form', book_new: @book_new, book: @book %>
    </div>
  </div>
</div>

